<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Book-Binder</title>
    <link rel='stylesheet' href='/css/jass.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body class="page" id="pageContainer">
    <div class='flex-column justify-space-around'>
      <header
        class='display-flex justify-space-between align-center p-2 header'
      >
        <h1>
          <a style='color: #c8553d ;' href='/'>The Hoard of Books</a>
        </h1>
        <nav>
          <a style='color: #c8553d ;' href='/'>Home</a>
          |
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
            <a style='color: #c8553d ;' href='/profile'>Dashboard</a>
            |
            <button
              style='color: #c8553d ;'
              class='no-button'
              id='logout'
            >Logout</button>
          {{else}}
            <a style='color: #c8553d ;' href='/login'>Login</a>
          {{/if}}
        </nav>
      </header>

      <!-- Always render the main content -->
      
        <!-- Render the sub layout -->
        {{{body}}}
     
    </div>
  </body>

  {{#if logged_in}}
    <script src='/js/logout.js'></script>
  {{/if}}

</html>