<!-- Conditionally render landing page content if not logged in -->
{{#unless logged_in}}
 
    <!-- Add a banner image within the landing page section -->
    <section class='landing-page'>
      <!-- Banner image goes here -->
      {{!-- <img src='/images/your-banner-image.jpg' alt='Banner Image' /> --}}

      <div class='landing-page-content'>
        <h2>Ready to embark on a literary adventure? </h2>
        <p>Join our vibrant community of book lovers who share your passion.
          Connect with fellow readers, participate in lively discussions, and
          even join our book club where we dive deep into a new book every
          month.</p>
        <a href='/login' id='login-link'>Start Here!</a>
      </div>
    </section>
    <footer>Footer is here!</footer>
  
{{/unless}}

{{#if logged_in}}
  {{#each userPosts}}
    <div class='post'>
      <h2>{{name}}</h2>
      <p>{{description}}</p>
    </div>
  {{/each}}
{{/if}}