<!-- Conditionally render landing page content if not logged in -->
{{#unless logged_in}}
  <main>
    <!-- Add a banner image within the landing page section -->
    <section class='landing-page'>
      <!-- Banner image goes here -->
      <img src='/images/your-banner-image.jpg' alt='Banner Image' />

      <div class='landing-page-content'>
        <h2>Ready to embark on a literary adventure? </h2>
        <p>Join our vibrant community of book lovers who share your passion.
          Connect with fellow readers, participate in lively discussions, and
          even join our book club where we dive deep into a new book every
          month.</p>
        <a href='/login' id='login-link'>Start Here!</a>
      </div>
    </section>
  </main>
{{/unless}}

<div class="posts-container" style="width: 100%; display: flex; flex-wrap: wrap; justify-content: center; gap: 15px;">
    {{#if logged_in}}
        {{#each userPosts}}
            <div class="post" data-book-name="{{name}}" style="flex-basis: calc(18% - 15px); box-sizing: border-box;"> <!-- Adjusted flex-basis to reduce outer container width -->
                <div style="border: 2px solid black; padding: 15px; display: flex; flex-direction: column; align-items: center; width: 100%;">
                    
                    <!-- Adjusted Book Cover Container size -->
                    <div style="width: 120px; height: 180px; border: 1px solid gray; background-image: url('{{coverImageUrl}}'); background-size: cover; background-position: center; margin-bottom: 15px;"></div>
                    
                    <div>
                        <h2 style="text-align: center; margin: 0;">
                            <a style="color: #231010;" href="/project/{{id}}">{{name}}</a>
                        </h2>
                    </div>
                </div>
            </div>
        {{/each}}
    {{/if}}
</div>

<script src="./js/test.js"></script>