body {
  /* Set the background gradient for the entire page */
  background-image: linear-gradient(
    306deg,
    rgba(121, 187, 40, 1) 0%,
    rgba(6, 108, 55, 1) 100%
  );
}

header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.header {
  background-color: white; /* Change navbar color to white */
}

h1, h1 a {
  color: black;
}

nav, nav a {
  background-color: white;
  color: black; /* Make anchor links on navbar black */
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #a2e1fe;
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}

.landing-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

#loginPromptModal {
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#loginPromptModal button {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.post h2, .post p {
  margin: 0;
  text-align: center;
}

.post a {
  color: #231010;
  font-size: 18px;
}

.post .text-left {
  padding-top: 15px;
}

.post {
  flex-basis: calc(18% - 15px);
  box-sizing: border-box;
  background-color: white;
  border-radius: 15px; /* This line will round the corners */
}

.post > div {
  border: 2px solid black;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 10px; /* This line will round the corners */
}
